{% load static %}
{% load txn_utils %}
{% load html_utils %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% if yearly_expenses %}
    <div class="m-widget">
        <div class="m-widget__header">Yearly</div>
        <div class="m-widget__main">
            {% for txn in yearly_expenses %}
            <div class="m-txn">
                <img src="{{txn.payment_source.image.url}}" onerror="this.onerror=null;this.src='https://via.placeholder.com/34'" alt="" class="m-txn__icon">
                <div class="m-txn__content">
                    <span class="m-txn__desc">{{ txn.description }}</span>
                    <span class="m-txn__date">{{ txn.start_date|yearly_txn_date }}</span>
                </div>
                <div class="m-txn__amount">{{txn.currency}}{{txn.amount}}</div>
                <div class="m-txn__detail">
                    <p class="m-txn__detail-info">
                        <span class="m-txn__detail-label">Source</span>
                        {{ txn.payment_source.display_name }}
                    </p>
                    <p class="m-txn__detail-info">
                        <span class="m-txn__detail-label">Payee</span>
                        {{ txn.payee.name }}
                    </p>
                    <p class="m-txn__detail-info">
                        <span class="m-txn__detail-label">Billing address</span>
                        {{ txn.billing_address|html_linebreaks|safe }}
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {% if monthly_expenses %}
    <div class="m-widget m-widget--secondary">
        <div class="m-widget__header">Monthly</div>
        <div class="m-widget__main">
            {% for txn in monthly_expenses %}
            <div class="m-txn">
                <img src="{{txn.payment_source.image.url}}" onerror="this.onerror=null;this.src='https://via.placeholder.com/34'" alt="" class="m-txn__icon">
                <div class="m-txn__content">
                    <span class="m-txn__desc">{{ txn.description }}</span>
                    <span class="m-txn__date">{{ txn.start_date|monthly_txn_date }}</span>
                </div>
                <div class="m-txn__amount">{{txn.currency}}{{txn.amount}}</div>
                <div class="m-txn__detail">
                    <p class="m-txn__detail-info">
                        <span class="m-txn__detail-label">Source</span>
                        {{ txn.payment_source.display_name }}
                    </p>
                    <p class="m-txn__detail-info">
                        <span class="m-txn__detail-label">Payee</span>
                        {{ txn.payee.name }}
                    </p>
                    <p class="m-txn__detail-info">
                        <span class="m-txn__detail-label">Billing address</span>
                        {{ txn.billing_address|html_linebreaks|safe }}
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
</body>
</html>
