{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="m-widget">
        <div class="m-widget__header">Yearly</div>
        <div class="m-widget__main">
            <div class="m-txn">
                <img src="https://via.placeholder.com/34" alt="" class="m-txn__icon">
                <div class="m-txn__content">
                    <span class="m-txn__desc">Domain renewal mysite.uk</span>
                    <span class="m-txn__date">01/06/2019</span>
                </div>
                <div class="m-txn__amount m-txn__amount--gbp">20.00</div>
                <div class="m-txn__detail">
                    <p class="m-txn__detail-info">
                        <span class="m-txn__detail-label">Source</span>
                        Barclays
                    </p>
                    <p class="m-txn__detail-info">
                        <span class="m-txn__detail-label">Payee</span>
                        Godaddy.co.uk
                    </p>
                    <p class="m-txn__detail-info">
                        <span class="m-txn__detail-label">Billing address</span>
                        Magesh<br>
                        Sheffield<br>
                        United Kingdom
                    </p>
                </div>
            </div>
            <div class="m-txn">
                <img src="https://via.placeholder.com/34" alt="" class="m-txn__icon">
                <div class="m-txn__content">
                    <span class="m-txn__desc">Domain renewal mysite.in</span>
                    <span class="m-txn__date">01/06/2019</span>
                </div>
                <div class="m-txn__amount m-txn__amount--inr">20.00</div>
                <div class="m-txn__detail">
                    <p class="m-txn__detail-info">
                        <span class="m-txn__detail-label">Source</span>
                        Barclays
                    </p>
                    <p class="m-txn__detail-info">
                        <span class="m-txn__detail-label">Payee</span>
                        Godaddy.co.uk
                    </p>
                    <p class="m-txn__detail-info">
                        <span class="m-txn__detail-label">Billing address</span>
                        Magesh<br>
                        Sheffield<br>
                        United Kingdom
                    </p>
                </div>
            </div>
            <div class="m-txn">
                <img src="https://via.placeholder.com/34" alt="" class="m-txn__icon">
                <div class="m-txn__content">
                    <span class="m-txn__desc">Domain renewal mysite.com</span>
                    <span class="m-txn__date">01/06/2019</span>
                </div>
                <div class="m-txn__amount m-txn__amount--usd">20.00</div>
                <div class="m-txn__detail">
                    <p class="m-txn__detail-info">
                        <span class="m-txn__detail-label">Source</span>
                        Barclays
                    </p>
                    <p class="m-txn__detail-info">
                        <span class="m-txn__detail-label">Payee</span>
                        Godaddy.co.uk
                    </p>
                    <p class="m-txn__detail-info">
                        <span class="m-txn__detail-label">Billing address</span>
                        Magesh<br>
                        Sheffield<br>
                        United Kingdom
                    </p>
                </div>
            </div>
        </div>
    </div>    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
</body>
</html>
